<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <title>الصفحة الرئيسية</title>
</head>
<body>
    
    <a href="{{ url_for('home') }}">النقاط</a>
    <a href="{{ url_for('logout') }}">تسجيل الخروج</a>




     <!-- خدمة يوم الجمعة -->
     <section id="friday-service">
        <h2>خدمة يوم الجمعة</h2>
        <br>

        <h3>الأولاد</h3>
        <div class="scroll-container">
            <div class="group">
               <h2>مجموعه اولي ولاد </h2>
                <div class="image-slider">
                    <div class="person">
                        <img src="{{ url_for('static', filename='images/photo_5877303836090155779_y.jpg') }}" alt="لوجو الموقع">
                        <p>جان ايمن</p>
                    </div>
                    <div class="person">
                        <img src="photo_5877303836090155780_x.jpg" >
                        <p>ماركو القس</p>
                    </div>
                    <div class="person">
                        <img src="ضع رابط الصورة هنا.jpg" >
                        <p>اسم الشخص</p>
                    </div>
                    <div class="person">
                        <img src="ضع رابط الصورة هنا.jpg" >
                        <p>اسم الشخص</p>
                    </div>
                    <div class="person">
                        <img src="ضع رابط الصورة هنا.jpg" >
                        <p>اسم الشخص</p>
                    </div>
                    <div class="person">
                        <img src="ضع رابط الصورة هنا.jpg" >
                        <p>اسم الشخص</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-container">
            <div class="group">
               <h2>مجموعه تانيه ولاد </h2>
                <div class="image-slider">
                    <div class="person">
                        <img src="photo_5877303836090155778_x.jpg" >
                        <p>اسم الشخص</p>
                    </div>
                    <div class="person">
                        <img src="" >
                        <p>اسم الشخص</p>
                    </div>
                    <div class="person">
                        <img src="ضع رابط الصورة هنا.jpg" >
                        <p>اسم الشخص</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-container">
            <div class="group">
                <h2>مجموعه تالته اولاد </h2>
                <div class="image-slider">
                    <div class="person">
                        <img src="photo_5873105136191130079_y.jpg" >
                        <p>مكاريوس ايهاب</p>
                    </div>
                    <div class="person">
                        <img src="" >
                        <p>اسم الشخص</p>
                    </div>
                    <div class="person">
                        <img src="ضع رابط الصورة هنا.jpg" >
                        <p>اسم الشخص</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-container">
            <div class="group">
            <h2>مجموعه رابعه ولاد </h2>
                <div class="image-slider">
                    <div class="person">
                        <img src="photo_5877303836090155778_x.jpg" >
                        <p>اسم الشخص</p>
                    </div>
                    <div class="person">
                        <img src="" >
                        <p>اسم الشخص</p>
                    </div>
                    <div class="person">
                        <img src="ضع رابط الصورة هنا.jpg">
                        <p>اسم الشخص</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-container">
            <div class="group">
                <h2> مجموعه خامسه ولاد </h2>
                <div class="image-slider">
                    <div class="person">
                        <img src="photo_5877303836090155777_y.jpg" >
                        <p>بافلي مينا</p>
                    </div>
                    <div class="person">
                        <img src="photo_5877303836090155776_y.jpg" >
                        <p>بيشوي مجدي</p>
                    </div>
                    <div class="person">
                        <img src="photo_5875324659325584963_x.jpg" >
                        <p>مارتن القس</p>
                                        </div>
                </div>
            </div>
        </div>
        <div class="scroll-container">
            <div class="group">
                <h2> مجموعه سادسه ولاد </h2>
                <div class="image-slider">
                    <div class="person">
                        <img src="5893468641293354517.jpg" >
                        <p>فيلوعماد</p>
                    </div>
                    <div class="person">
                        <img src="" >
                        <p>اسم الشخص</p>
                    </div>
                    <div class="person">
                        <img src="ضع رابط الصورة هنا.jpg" >
                        <p>اسم الشخص</p>
                    </div>
                </div>
            </div>
        </div>


        <h1>البنات</h1>
        <div class="scroll-container">
            <div class="group">
                <h2> مجموعه اولي بنات </h2>
                <div class="image-slider">
                    <div class="person">
                        <img src="ضع رابط الصورة هنا.jpg" >
                        <p>اسم الشخص</p>
                    </div>
                    <div class="person">
                        <img src="ضع رابط الصورة هنا.jpg">
                        <p>اسم الشخص</p>
                    </div>
                    <div class="person">
                        <img src="ضع رابط الصورة هنا.jpg" >
                        <p>اسم الشخص</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-container">
            <div class="group">
                <h2> مجموعه تانيه بنات </h2>
                <div class="image-slider">
                    <div class="person">
                        <img src="ضع رابط الصورة هنا.jpg" >
                        <p>اسم الشخص</p>
                    </div>
                    <div class="person">
                        <img src="ضع رابط الصورة هنا.jpg">
                        <p>اسم الشخص</p>
                    </div>
                    <div class="person">
                        <img src="ضع رابط الصورة هنا.jpg" >
                        <p>اسم الشخص</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-container">
            <div class="group">
                <h2> مجموعه تالته بنات </h2>
                <div class="image-slider">
                    <div class="person">
                        <img src="ضع رابط الصورة هنا.jpg" >
                        <p>اسم الشخص</p>
                    </div>
                    <div class="person">
                        <img src="ضع رابط الصورة هنا.jpg">
                        <p>اسم الشخص</p>
                    </div>
                    <div class="person">
                        <img src="ضع رابط الصورة هنا.jpg" >
                        <p>اسم الشخص</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="scroll-container">
            <div class="group">
                <h2> مجموعه رابعه بنات </h2>
                <div class="image-slider">
                    <div class="person">
                        <img src="ضع رابط الصورة هنا.jpg" >
                        <p>اسم الشخص</p>
                    </div>
                    <div class="person">
                        <img src="ضع رابط الصورة هنا.jpg">
                        <p>اسم الشخص</p>
                    </div>
                    <div class="person">
                        <img src="ضع رابط الصورة هنا.jpg" >
                        <p>اسم الشخص</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-container">
            <div class="group">
               <h2> مجموعه خامسه بنات </h2>
                <div class="image-slider">
                    <div class="person">
                        <img src="ضع رابط الصورة هنا.jpg" >
                        <p>اسم الشخص</p>
                    </div>
                    <div class="person">
                        <img src="ضع رابط الصورة هنا.jpg">
                        <p>اسم الشخص</p>
                    </div>
                    <div class="person">
                        <img src="ضع رابط الصورة هنا.jpg" >
                        <p>اسم الشخص</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-container">
            <div class="group">
                <h2> مجموعه سادسه بنات </h2>
                <div class="image-slider">
                    <div class="person">
                        <img src="ضع رابط الصورة هنا.jpg" >
                        <p>اسم الشخص</p>
                    </div>
                    <div class="person">
                        <img src="ضع رابط الصورة هنا.jpg">
                        <p>اسم الشخص</p>
                    </div>
                    <div class="person">
                        <img src="ضع رابط الصورة هنا.jpg" >
                        <p>اسم الشخص</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-container">
            <div class="group">
                <h2>مهمه السماعات
                <div class="image-slider">
                    <div class="person">
                        <img src="" >
                        <p>اسم الشخص</p>
                    </div>
                    <div class="person">
                        <img src="" >
                        <p>اسم الشخص</p>
                    </div>
                    <div class="person">
                        <img src="ضع رابط الصورة هنا.jpg" >
                        <p>اسم الشخص</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-container">
            <div class="group">
                <h2>مهمه الاسكان</h2>
                
                
                <div class="image-slider">
                    <div class="person">
                        <img src="" >
                        <p>اسم الشخص</p>
                    </div>
                    <div class="person">
                        <img src="" >
                        <p>اسم الشخص</p>
                    </div>
                    <div class="person">
                        <img src="ضع رابط الصورة هنا.jpg" >
                        <p>اسم الشخص</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-container">
            <div class="group">
                <h2>اسكان ابناء النور </h2>
                
                <div class="image-slider">
                    <div class="person">
                        <img src="" >
                        <p>اسم الشخص</p>
                    </div>
                    <div class="person">
                        <img src="" >
                        <p>اسم الشخص</p>
                    </div>
                    <div class="person">
                        <img src="ضع رابط الصورة هنا.jpg" >
                        <p>اسم الشخص</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-container">
            <div class="group">
                <h2>استقبال </h2>  
                <div class="image-slider">
                    <div class="person">
                        <img src="" >
                        <p>اسم الشخص</p>
                    </div>
                    <div class="person">
                        <img src="" >
                        <p>اسم الشخص</p>
                    </div>
                    <div class="person">
                        <img src="ضع رابط الصورة هنا.jpg" >
                        <p>اسم الشخص</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-container">
            <div class="group">
                <h2>مجموعه it </h2>
                <div class="image-slider">
                    <div class="person">
                        <img src="" >
                        <p>اسم الشخص</p>
                    </div>
                    <div class="person">
                        <img src="" >
                        <p>اسم الشخص</p>
                    </div>
                    <div class="person">
                        <img src="ضع رابط الصورة هنا.jpg" >
                        <p>اسم الشخص</p>
                    </div>
                </div>
            </div>
        </div>
        
        
    </section>

    <!-- قسم شعار الفريق -->
    <section id="logo">
        <div class="logo"></div>
        <h2>شعار الفريق</h2>
        <div class="video-container">
            <video controls>
                <source src="IMG_1119 (2).MP4" type="video/mp4">
             
            </video>
        </div>
    </div>
    </section>
</body>
</html>